.sticky_messages-area {
    display: none;
}

._sticky_messages ul {
    padding: 0px 0px 0px 10px;
}

._sticky_messages-news a {
    color: rgb(130, 98, 0);
    font-size: 12px;
}

._sticky_messages-messages a {
    color: rgb(130, 98, 0);
    font-size: 12px;
}

.sticky_message-area-reset {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}